In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"dataset\cleansed_Pokemon.csv")
df.info()

df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      800 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,Fire,309,39,52,43,60,50,65,1,False

In [8]:
distinct_value = pd.unique(df[['Type 1', 'Type 2']].values.ravel())
print(distinct_value)

['Grass' 'Poison' 'Fire' 'Flying' 'Dragon' 'Water' 'Bug' 'Normal'
 'Electric' 'Ground' 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Steel' 'Ice'
 'Ghost' 'Dark']

In [9]:
pokemon_counts = {val: df[(df['Type 1'] == val) | (df['Type 2'] == val)]['Name'].nunique() for val in distinct_value}
type_count_df = pd.DataFrame(list(pokemon_counts.items()), columns=['Type', 'Pokemon Count'])

In [10]:
print(type_count_df)

        Type  Pokemon Count
0      Grass             95
1     Poison             62
2       Fire             64
3     Flying            101
4     Dragon             50
5      Water            126
6        Bug             72
7     Normal            102
8   Electric             50
9     Ground             67
10     Fairy             40
11  Fighting             53
12   Psychic             90
13      Rock             58
14     Steel             49
15       Ice             38
16     Ghost             46
17      Dark             51